*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
}
a{
    text-decoration:none;
}
.mainphoto{
    background-image: url(img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 51vw;
}
#main{
    margin: 0px 24.4140625vw;
}
#B{
    border: 3px solid #fff;
                background-color: #fff;
                color:#4a4c55;
                padding: 0px 11px;
}
#INO{
    color: #fff;
                border: 3px solid #fff;
                font-weight: 300;
                position: relative;
                left: -1vw;
}
header{
    height: 132px;
    margin: 0px 24.4140625vw;
    padding: 38px 0;
}
    .logo{
        width: fit-content;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 30px;
        font-weight: 700;
    }
    .menu{
        text-align: right;

    }
        .menu a{
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            margin-left: 22px;
            margin-bottom: 10px;
            font-size: x-small;
            position: relative;
            top: -3vh;
            border-bottom: 3px solid transparent;
        }
            .menu a:hover{
                color: #e74e3e;
                border-bottom: 1px solid #e74e3e;
                padding-bottom: 10px;
                transform: all .5s;
            }
#rows{
    font-size:30px;
    cursor:pointer;
    color: #fff;
    position: relative;
    top: -7vh;
    text-align: right;
}
    #rows, .closebtn{
        display: none;
    }
#leftrow, #rightrow{
    position: absolute;
    bottom: 36vh;   
}
#leftrow{left: 3vw;}
#rightrow{
    right: 3vw;
}
#leftrow:hover{
    background-image: url(img/leftred.svg);
}
#rightrow:hover{
    background-image: url(img/rightred.svg);
}
.clients{
    text-align: center;
    color: #f4f5f9;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 12vh;
}
.welcome{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #f4f5f9;
    font-size: 4em;
    letter-spacing: 3px;
    margin: 0px;
}
.rowdot{
    text-align: center;
    margin-bottom: 20px;
}
.lorem{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #cbc6c0;
    padding: 0px 79px;
    margin-bottom: 60px;
}
#btn{
    text-align: center;
}
.redbtn, .whitebtn{
    padding: 10px 20px;
    text-align: center;
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;   
    } 
    .redbtn{
        background-color: #e74e3e;
        margin: 0px 2vw 0px 0;
        border: 1px solid #e74e3e;
    }
    .whitebtn{
        border: 1px solid #fff;
        padding: 10px 40px;
    }
    .anchor>img{
        width: 55px;
        padding: 14px 16px;
        background-color: #f4f5f9;
        border-radius: 67%;
    }
    .anchor{
        text-align: center;
        position: relative;
        top: -7vh;
    }
.heads{
    color: #6a6a6a;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
    margin-top: 0px;
}
.heads-text{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #999999;
}
.content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}
.content>.content-photo{
        width: 100%;
    }
    .content-text{
        padding:3vw 2vw 1vw 2vw;
        background-color: #e74e3e;
        color: #fff;
    }
    .art{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
    }
    .shirt{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;        
    }
    #month{
        font-size: small;
    }
    .price{
        padding-top: 4vw;
    }
    .divforprice{
        background-color: rgb(244, 245, 249);
                    position: relative;
                    bottom: 2vh;
    }
    .lineunder{
        border-top: 3px solid #fff;
    }
    .context{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        padding-bottom: 25px;
        font-size: smaller;
    }
    .readmore{
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-style: italic;
    }
    .readmore a{
        color: #fff;
    }

#portfolio{
    background-image: url(img/background.jpg);
    height: 100%;
    background-size: cover;
}
.numbers{
    margin: 0px 17vw;
    max-width: 1000px;
    padding: 17vh 0px 0px;
}
.reason-statistic{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
    .reason-statistic-item{
        padding-bottom: 80px;
    }
    .reason-statistic-num{
        font-family:'Source Sans Pro', sans-serif;
        font-weight: 700;
        color: #fff;
        margin-bottom: 4px;
    }
    .reason-statistic-text{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        color: #fff;
        margin: 0;
    }

/*PRICING*/
.tablegrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:1vw;
    text-align: center;
}
    .spb{
        height: 150px;
        font-family:'Source Sans Pro', sans-serif;;
        font-weight: 600;
        color: #fff;
        background-color: #999899;
        padding-top: 5vh;
        margin: 0;
    }
    .bordercircle{
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background-color: #f4f5f9;
        opacity: 0.251;
        padding: 10px 10px;
        position: absolute;
        z-index: 2;
        margin-left: 6.5vw;
        margin-top: -9vh;
    }
    .circle{
        width: fit-content;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        border-radius: 56%;
        color: #999899;
        background-color: #fff;
        z-index: 3;
        padding: 30px 27px;
        position: absolute;
        margin-top: -8vh;
        margin-left: 6.9vw;
    }
    .prices{
        margin: 0;
        font-size: xx-large;
    }
    .textforprice{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        line-height: 30px;
        color: #999899;
        padding: 98px 0 25px 0;
    }
    .greychoose{
        margin-bottom: 30px;
        background-color: #999899;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #fff;
        padding: 10px 20px;
        border: 0;
        cursor: pointer;
    }
.linc img{
    width: 80px;
}
/*TEAM*/
#ourteam{
    background-image: url(img/Curve.jpg);
    height: 100%;
    background-size: cover;
}
.about-dot{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

#line{
    position: relative;
    bottom: -1vh;
    left: -4vw;
    z-index: -1;
    width: 2px;
}
#team{
    padding-top: 4vw; color: #fff;
}
#teamtext{
    color: #fff;
}
/*CONACT*/
#contact{
    background-color: rgb(244, 245, 249);
}
#help{
    display: grid;
    grid-template-columns: 38% 61%;
    grid-column-gap: 25px;
    margin-top: 6vh;
}
.gform_1{
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 5vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #6a6a6a;
}
.redhead{
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #e74e3e;
}
.adresstext{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #6a6a6a;
}
.adresstext a{
    text-decoration: none;
    color: #6a6a6a;
}
input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], textarea {
    width: 100%;
    height: 22px;
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-bottom: 1px solid #999899;
    background-color: transparent;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    -webkit-appearance: none;
}
.gform_fields {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .gform_fields li{
        width: 100%;
        padding-top: 25px;
    }
    .plumb-button, input[type=submit] {
        padding: 0 35px;
        margin: 20px 0;
        height: 50px;
        border: 2px solid #e74e3e;
        color: #ffffff;
        font-family: inherit;
        font-size: 20px;
        cursor: pointer;
        background: #e74e3e;
        border-radius: 3px;
        box-shadow: 0px 2px 4.75px 0.25px rgb(0 0 0 / 25%);
    }
.padfor{
    padding-top: 3vh;
}
.form{
    padding: 0;padding-bottom: 13vh;
}
.dot-1{
    font-weight: 600; color: #e74e3e;
}
.dot-2{
    font-weight: 400; color: #fff;
}
.item-1{
    position: relative;
    bottom: 6vh;
}
.item-2{
    position: relative;
    bottom: 7vh;
    z-index: 1;
}
.item-3{
    position: relative;
    bottom: 10vh;
}
.item-4{
    position: relative;
    bottom: 7vh;
}
.item-5{
    position: relative;
    bottom: 9vh;
}

/*footer*/

footer{
    background-color: #202020;
    height: 100px;
}
.icons + .icons{
    margin-left: 1vw;
}
#smicon{
    padding-top: 3vh;
            margin: 0 17vw;
            display: flex;
}
.allr{
    position: absolute;
    right: 16vw;
    margin-top: 0;
}
.triangle-left{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid #e74e3e;
    position: absolute;
    left: 22vw;
    margin-top: 140px;
}
.l2{
    left: 71vw;
}
#r2{
    left: 74vw;
}
.triangle-right{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid #e74e3e;
    position: absolute;
    left: 24vw;
    margin-top: 536px;
}
textarea{
    height: 82px;
}
.gform_fields li:nth-child(1){
    padding: 0;
}
hr{
    position: relative;
    top: -2vh;
}
.icons:hover{
    cursor: pointer;
}
#facebook, #twitter, #rss, #vimeo, #tumblr, #skype{
    height: 20px;
}
#facebook{
    background-image: url(img/facebook.svg);
    width: 12px;
}
#facebook:hover{
    background-image: url(img/facebookred.svg);
}
#twitter{
    background-image: url(img/twitter.svg);
    width: 27px;

}
#twitter:hover{
    background-image: url(img/twitterred.svg);
}
#rss{
    background-image: url(img/rss.svg);
    width: 20px;
}
#rss:hover{
    background-image: url(img/rssred.svg);
}
#gp{
    background-image: url(img/google\ plus.svg);
    width: 20px;
    height: 18px;
}
#gp:hover{
    background-image: url(img/google\ plusred.svg);
}
#in{
    background-image: url(img/linkedin.svg);
    width: 20px;
    height: 18px;
}
#in:hover{
    background-image: url(img/linkedinred.svg);
}
#skype{
    background-image: url(img/skype.svg);
    width: 20px;
}
#skype:hover{
    background-image: url(img/skypered.svg);
}
#vimeo{
    background-image: url(img/vimeo.svg);
    width: 20px;
    height: 17px;
}
#vimeo:hover{
    background-image: url(img/vimeored.svg);
}
#tumblr{
    background-image: url(img/tumblr.svg);
    width: 12px;
}
#tumblr:hover{
    background-image: url(img/tumblrred.svg);
}

#topNubex{
	cursor: pointer;
    position: fixed;
    right: 11vw;
    bottom: 9vh;
}
@media screen and (max-width:1300px){
    .content-text {
        padding: 2vw 1vw 0vw 2vw;
        font-size: small;
    }
	.triangle-right{
	    margin-top: 419px;
	}
	#r2 {
	    left: 73vw;
	}
}
@media screen and (max-width:1186px){
    header {
        margin: 0px 20.414063vw;
    }
    .mainphoto{
        font-size: x-small;
        height: fit-content;
        background-size: initial;
        padding-bottom: 36px;
    }
    .clients {
        margin-top: 4vh;
    }
    #leftrow, #rightrow{
        bottom: 40vh;   
    }
    .bordercircle{
        margin-left: 5.5vw;
    }
    .circle{
        margin-left: 5.9vw;
    }
}
@media screen and (max-width:1100px){
	#r2 {
    left: 73vw;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 35px solid #e74e3e;
    position: absolute;
    left: 24vw;
    margin-top: 363px;
}
	.triangle-left {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-right: 35px solid #e74e3e;
    position: absolute;
    left: 22vw;
    margin-top: 103px;
}
}
@media screen and (max-width:1000px){
	.triangle-right, .triangle-left {
		display:none;
	}
    #mySidenav, #rows{
        display: block;
    }
    .dot-1{
        padding-top: 38px;
    }
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      text-align: left;
    }
    .sidenav a {
      padding: 22px 8px 8px 10px;
      color: #818181;
      display: block;
      transition: 0.3s;
      text-decoration: none;
    }  
    .sidenav a:nth-child(2){
        margin-top: 50px;
    }
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
      .reason-statistic{
        display: block;
      }
      .content {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4, 25%);
      }
      #photo2, #text2{
          grid-row-start: 3;
      }
      .tablegrid {
        grid-template-columns: 1fr;
      }
      .bordercircle{
        margin-left: 24.5vw;
    }
    .circle{
        margin-left: 24.9vw;
    }
    #line{
        display: none;
    }
    .about-dot{
        position: relative;
        bottom: 10vh;
    }
    #help{
        grid-template-columns: 1fr;
    }
    .gform_1 {
        text-align: center;
    }
    .gform_1 + .gform_1{
        margin-top: 3vh;
    }
    .heads-text {
        font-size: small;
        margin: 0 3vw;
    }
    .redbtn {
        margin: 0;
        padding: 10px;
    }
    .whitebtn {
        padding: 10px 20px;
    }
    .lorem {
        padding: 0px;
    }
    .allr{
        text-align: left;
        margin-top: 0;
    }
}
@media screen and (max-width: 550px){
    #smicon, .allr{
        text-align: center;
    }
    .bordercircle {
        margin-left: 19.5vw;
    }
    .circle {
        margin-left: 20.9vw;
    }
    .content-text {
    padding: 2vw 1vw 1vw 2vw;
    font-size: x-small;
}
}
@media only screen and (max-width:450px){
    .context {
        padding-bottom: 10px;
        margin-top: 0;
        font-size: xx-small;
    }
    #main{
        margin: 0px 21.4140625vw;
    }    
}
